@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brandGreen: #004D25;
  --color-brandGold: #C09F5F;
  --color-brandBlack: #171717;
  --color-brandWhite: #FFFFFF;
}
h3{
  font-family: "Josefin Sans", sans-serif;
}
.customLink a {
  font-family: "Oswald", sans-serif;
  font-size: large;
  font-weight: 300;
}
.heroText{
  font-family: "Oswald", sans-serif;
  color: white
}